{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>Index</h1>
    <ul>
        {% for topic in topic_list %}
            <li><a href="{% url 'question_search_by_topic' topic.id %}">{{topic}}</a></li>
        {% endfor %}
    </ul>
    <form action="" method="POST">
        {% csrf_token %}
        <div>{{form.search.label}}</div>
        <div>{{form.search}}</div>
        <input type="submit" value="Search">
    </form>
    
{% endblock %}